<head>
    <link rel="stylesheet" href="/public/profile.css" />
</head>
{{#if error}}
    <p id="err">Oups, something went wrong. Please try again!</p>
{{/if}}
<div class="part">
    <form method="post">
        <div class="profile">
            <p id="edit">Edit your profile</p>
            <input
                type="text"
                name="first"
                value="{{profile.first}}"
                pattern=".{3,}"
                required="required"
                title="3 characters minimum"
            />
            <input
                type="text"
                name="last"
                value="{{profile.last}}"
                pattern=".{3,}"
                required="required"
                title="3 characters minimum"
            />
            <input
                type="text"
                name="email"
                value="{{profile.email}}"
                pattern=".{7,}"
                required="required"
                title="7 characters minimum"
            />
            {{#if nichtgueltigEmail}}
                <p class="er">no valid email</p>
            {{/if}}
            <input
                type="password"
                name="password"
                value=""
                placeholder="Enter a new password"
            />
            <input
                type="text"
                name="age"
                value="{{profile.age}}"
                placeholder="Age"
            />
            {{#if nichtgueltigNaN}}
                <p class="er">no valid age</p>
            {{/if}}

            <input
                type="text"
                name="city"
                value="{{profile.city}}"
                placeholder="City"
            />
            <input
                type="text"
                name="url"
                value="{{profile.url}}"
                placeholder="Homepage"
            />
            {{#if nichtgueltigUrl}}
                <p class="er">no valid homepage</p>
            {{/if}}
            <div class="bt">
                <button type="submit" id="submit" name="update">Update</button>
                <button type="submit" id="submit" name="back">Back</button>
            </div>
        </div>
    </form>
</div>