<head>
    <link rel="stylesheet" href="/style.css" />
</head>
<p>Here are my {{projects.length}} Projects.</p>
<div class="contains">
    <div class="projects">
        {{#each projects}}
            <article>
                <a href="{{directory}}"><img src="{{screenshot}}" /></a>
                <p>
                    <a href="{{directory}}">{{title}}</a>
                </p>
            </article>
        {{/each}}
    </div>
</div>