<div class="part">
    <div id="signers">
        <p>There are {{count}} Signers in {{city}}</p>
        {{#each signers}}
            <li>{{first}}
                {{last}}
                {{age}}
                <a href="/signers/{{city}}">{{city}}</a></li>
        {{/each}}
    </div>
    <div class="bild2">
        <img src="../public/assets/bild2.png" />
    </div>
</div>