<head>
    <link rel="stylesheet" href="/public/signers.css" />
</head>
<img class="bild1" src="public/assets/bild2.png" />
<div id="contains">
    <div id="left">
        <p>There are {{count}} Signers</p>
        {{#each signers}}
            <li>{{first}}
                {{last}}
                {{age}}
                <a href="/signers/{{city}}">{{city}}</a></li>
        {{/each}}

    </div>
    <div id="right">
        <img id="menu" src="public/assets/menu.svg" />
        <div id="overlay">
            <a href="/thanks">Homepage</a>
            <a href="/profile/edit">Edit your profile</a>
            <a href="/petition/delete/signature">Delete your signature</a>
            <a href="/petition/delete/account">Delete your account</a>
            <a href="/petition/logout">Log out</a>
        </div>
    </div>
</div>